:root {
    --text-color: white;
    --background-color: black;
    --letter-text-color: black;
}

body {
    background-color: var(--background-color);
}

section {
    position: relative;
}

.bg-img {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 80%;
    height: 80%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.4;
}

section > *:not(.bg-img) {
    position: relative;
    z-index: 1;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 20px;
    color: var(--text-color);
    font-family: "poppins-thin", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 6em;
    letter-spacing: 50px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 0px;
    color: var(--text-color);
    font-family: "tk-takuminarazumoji-l", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-size: 1.7em;
    letter-spacing: 8px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: var(--text-color);
    margin-top: 0;
    font-family: "typeka", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flecha {
    display: block;
    margin: 20px auto;
    margin-top: 160px;
    width: 100px;
    height: auto;
}